parameters:
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: trait.unused
    level: 8
    excludePaths:
        - '%rootDir%/../../../src/Spryker/PropelOrm/src/Spryker/Zed/PropelOrm/Business/Polyfill/'
